* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
}

html, body {
    height: 100%; /* Ensure the body and html take the full height */
    width: 100%; /* Ensure the body and html take the full width */
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
}

#container {
    padding: 50px;
    background-color: black;
    color: yellow;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw; /* Full width of the viewport */
    max-width: 100%;
    overflow: auto; 
}

.flex-container {
    display: flex; /* Use flexbox to position items side by side */
    gap: 20px; /* Space between sliders and chart */
    align-items: flex-start; /* Align items at the start */
    max-width: 100%; /* Ensure the flex container uses full width */
}

.skillInputs {
    max-width: 30%; /* Increase max width as needed */
}

canvas {
    display: block; /* Make it block-level */
    max-width: 70%;
}

#header {
    text-align: center;
}

.info-bar {
    text-align: center;
    font-size: 40px;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    color: yellow;
}

.form-group {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px;
}

#playerName, #position, #height {
    text-align: center;
    width: 300px;
    font-size: 20px;
}

.form-group label {
    font-size: 25px;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
}

.bar {
    width: 50px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

.bar:hover {
    background-color: black;
    color: yellow;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="number"], input[type="text"], input[type="range"], select {
    width: 100%;
    padding: 5px; 
    margin-bottom: 5px; 
    font-size: 16px; 
}

.skill-input label {
    font-size: 25px;
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

button {
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
}

#playerDivContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.playerDiv {
    display: none;
    justify-content: center;
    padding: 30px;
    color: white;
    font-size: 50px;
}